@font-face {
    font-family: "NunitoSans-Regular";
    src: url(./fonts/NunitoSans-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family:"YesevaOne";
    src: url(./fonts/YesevaOne.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "NunitoSans-Regular";
    box-sizing: border-box;
    text-decoration: none;
    max-width: 1438px;
}

.top{
    background-color: #131313;
    max-width: 1438px;
    max-height: 1000px;
   
}
.container-top{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 92px;
    align-items: baseline;    
}

.menu-nav-top{
    display: flex;
    align-items: center;
    height: 73px;
    justify-content: space-between;

}

.logo{
    position: absolute;
    margin-left: 32.27px;
    margin-top: 10px;
    font-family: 'NunitoSans-Regular';
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.ul-menu {
    position: absolute;
    margin-left: 367.21px;
    display: flex; 
    list-style-type: none;
    color: aliceblue;
    flex-direction: row;
    align-items: center;

}
.menu-item{
    
    text-transform: uppercase;
    font-size: 11px;
    font-style: normal;

}
a { color: aliceblue;
    margin-right: 47.09px;
    flex-direction: row;
}
.home{
    color:#E3B873;
}

.tel a{
    position: absolute;
    margin-left: 1016px;
    font-family: "NunitoSans-Regular";
    font-size: 11px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}
.button-top-step1{
    position: absolute;
    width: 161px;
    height: 37px;
    margin-left: 1140px;
    margin-top: -20px;
    background: #E3B873;
    border-radius: 2px;
    font-family: "NunitoSans-Regular";
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.bg{
    background:url(фон-step1.jpg) no-repeat;
     width: 1438px;
     height:629px;
     position:relative;
   }
   .bg:after{
     background:#000000
     ;
     content:' ';
     top:0;
     bottom:0;
     left:0;
     right:0;
     position:absolute;
     z-index:0;
     opacity:0.7;
     
   }
   .bg *{
    z-index:1;
    position:relative;
    color:#fff;
  }
.container2{
    display: flex;

}
.text {
    position: absolute;
    margin-top: 0px;
    margin-left: 130px;
    width: 671.11px;
    height: 105px;
    top: 25.06%;
    bottom: 51.65%;

}
.text h1{
    position:absolute;
    font-size: 40px;
    font-family: 'YesevaOne';
    font-style: normal;
    text-transform: uppercase;
}
h1 span{
    font-family: 'YesevaOne';
    font-style: normal;
    font-size: 40px;
    text-transform: uppercase;
}
.small-text{
position: absolute;
margin-left: 130px;
margin-top: 280px;
color: #FFFFFF;
font-family: 'NunitoSans-Regular';
font-style: normal;
font-size: 22px;
color: #FFFFFF;
line-height: 36px;
}
.button-cost{
    position: absolute;
    width: 207px;
    height: 51px;
    margin-left: 130px;
    bottom: 24.33%;
    background: #E3B873;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: 0ch;
}


.button-application{
    box-sizing: border-box;
    position: absolute;
    width: 207px;
    height: 51px;
    margin-left: 373px;
    bottom: 24.33%;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
}
.button-application a{
    position: absolute;
    display: inline;
    text-align: center;
}
.step2-container{
    background-color: black;
    width: 1438px;
    height: 1090.5px;
    position: relative;
}

.container-step2-top{
    position: relative;
    display: flex;
    width: 1430px;   
}
.ul-menu-step2 {
    position: absolute;
    margin-top: 105px;
    margin-left: 618.67px;
    display: flex; 
    list-style-type: none;
    flex-direction: row;
}
.first-step2{
    color:#E3B873;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    font-family: 'YesevaOne';
    text-decoration: none; 
    border-bottom: 2px #E3B873 solid;
    padding-bottom: 8px;
}
.second-step2{
    font-family: 'YesevaOne';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 50.5px;
    flex-direction: row;
}

.text1-step2{
    position: absolute;
    width: 253px;
    height: 66px;
    top: 176.36px;
    left: 132px;
    color: #E3B873;
    padding: 20px;
    text-transform: uppercase;
    
    }
.h2-step2{
    position: absolute;
    margin-left: -35px;
    margin-top: -19px;
    font-family:"YesevaOne";
    line-height: 37px;
    letter-spacing: -0.07em;
    font-size: 27px;
}
.text2-step2{
    position: relative;
    width: 490px;
    height: 86px;
    top: 260px;
    left: 98px;
    font-family: "NunitoSans-Regular";
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 20px;
}

.img-step2{
    position: absolute;
    transform: translate(620.45px,44.68px);
    margin-top: 50px;
}
.container1-step2{
    width: 162px;
    height: 560px;
    margin-top: 290px;
    margin-bottom: -300px;
    margin-left: 113px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: relative;

}
.h3-city{
    color: #E3B873;
    text-transform: uppercase;
    font-family:"YesevaOne";
    width: 180px;
    height: 42px;

}

.column1{
    display: flex;
    flex-direction: column;
    color: #E3B873;
    width: 300px;
    
}
.column2{
    display: flex;
    flex-direction: column;
    color: #E3B873;
    width: 700px;
    
}
.h3-city{
    margin-top: 40px;
    margin-bottom: 0px;
    
}
.h3-city2{
    margin-top: 0px;
    color: #E3B873;
    width: 200px;
    text-transform: uppercase;
    font-family:"YesevaOne";
}
.p-step2-2{
     font-family: "NunitoSans-Regular";
font-size: 13px;
margin-top: -10px;
margin-bottom: 29px;
width: 100px;
height: 42px;
color: #fff;
}
.p-step2{
    font-family: "NunitoSans-Regular";
font-size: 13px;
line-height: 21px;
margin-top: 9px;
margin-bottom: 20px;
width: 100px;
height: 42px;
color: #fff;
}
.the-image-lines{
    position: absolute;
    margin-top: 280px;
    margin-left: -190px;
}
.online-control{
    position: absolute;
    margin-top: 388px;
    margin-left: 498px;
}
.line-step2{
position: absolute;
display: flex;
flex-direction: row;
background: #f8f5f5;
width: 40.51px;
height: 1px;
left: 155px;
top: 653px;
margin: 0%;
}


.bg-step2{
    background:url(середина.jpg) no-repeat;
    z-index: 2;
    width: 817px;
    height: 434px;
    left: 300px;
    top: 1570px;
    position:absolute;
   }
   .bg-step2:after{
     background:#000000
     ;
     content:' ';
     top:0;
     bottom:0;
     left:0;
     right:0;
     position:absolute;
     z-index:0;
     opacity:0.8;
   }
   .circle-step2{
    position: absolute;
    width: 85px;
	height: 85px;
	border-radius: 100px;
    z-index: 4;
    border: 0ch;
    left: 46.94%;
    right: 47.14%;
    top: 40.24%;
    bottom: 56.42%;
    background-color: #E3B873;
   }
   .triangle{
    position: abso  lute;
    width: 0px;
	height: 0px;
	border-top: 12px solid transparent;
	border-left: 23px solid white;
	border-bottom: 12px solid transparent;
    margin: 28px;
    margin-left: 35px;
    margin-top: 32px;
   }
   .main-step2{
    height: 805px;
    color: #fff;
   }
   .bord{
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    background: #E3B873;
    border-radius: 30px;
    position: absolute;
    margin-left: 681px;
    margin-top: 279.45px;
    width: 55px;
    height: 2px;
    z-index: 10000;
   }
   .thetext-step2{
    position: absolute;
    margin-top: 309px;
    margin-left: 382px;
    font-family: "NunitoSans-Regular";
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #131313;

   }
   .p-informa{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 12px;
    left: 330px;
    top: 2336px;
    width: 319.85px;
   }

   .personal-info-step2{
    position: relative;
    margin-right: 58px;
    font-size: 13px;
    line-height: 21px;
   }
   input{
    border: 0ch;
   }
   .line-in-info-1{
        margin: 4px 0;
        padding: 0;
        height: 0;
        border: none;
        border-top: 1px solid #333;
        width: 231px;
        opacity: 30%;
   }
   .phone-step2{
    font-size: 13px;
    line-height: 21px;
    position: relative;
    margin-right: 49px;

   }
   .label-step2{
    color: #000000;
    font-family: "NunitoSans-Regular";
    font-size: 14px;
    line-height: 163.68%;
   }
   .b-submit{
    position: absolute;
    background: #E3B873;
    border-radius: 2px;
    width: 200px;
    height: 51px;
    border: 0ch;
    color: #FFFFFF;
    text-transform: uppercase;
    }
    .check-b.new-line{
        width: 100%;
        }
    .ch-box-step2{
    position: absolute;
    line-height: 163.68%;
    font-family: "NunitoSans-Regular";
    margin-top: 25.97px;
    margin-left: 10px;

    }
    .check-b{
        position: absolute;
        line-height: 163.68%;
        font-family: "NunitoSans-Regular";
        margin-top: 81.97px;
        margin-left: 230px;
        width: 500px;
    
        }
  
    .label-step2 {
        cursor: pointer;
      }
      .checkbox-step2{
        display: none;
      }
      .fake-span2{
        display: inline-flex;
        width: 18px;
        height: 18px;
        background: #E3B873;
        color: #fff;
        justify-content: center;
      }
      .fake-span2::before{
        content:"\2714";
        opacity: 0;
        transition: .2s;
      }
      .checkbox-step2:checked + .fake-span2::before{
        opacity: 1;
      }

    .types-of-repair{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top:179.85px;
        margin-left: 77.4%;
 
            }
        .types-of-repair-text{
        position: relative;
        font-family:"YesevaOne";
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
        width: 257px;
        height: 26px;
    
        }
        .vex{
            z-index: 10;
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items:center;
            margin: 40px 10px auto 70px;
        
           
        }
    .footer{
        width: 1438px;
        height: 300px;
        position: relative;
    }

    .image1-step2{
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 100px;
        justify-content: space-between;
        height: 1000px;
    }
    .try{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: -86px;
    }
    .ima4{z-index: 2;
    position: absolute;
    top: 289px;
    margin-left: 29px;
}
.text-bottom{
    position: absolute;
    top: 0%;
    margin-left: 5%;
}
.topic{
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    font-family:"YesevaOne";
    margin-top: 25px;
    margin-left: 20px;

    
}
.the-list{
    font-size: 13px;
line-height: 27px;
font-family: "NunitoSans-Regular";
color: #959595;
margin-left: 34px;
margin-bottom: 23px;
}
.from{
background: #E3B873;
box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
width: 240px;
height: 54px;
border: 0ch;
text-transform: uppercase;
color: #FFFFFF;
margin: 17px 16.57px 17 16.57;
font-family:"YesevaOne";
}
.bold{
    margin: 17px 16.57px 17 16.57;
    font-family:"YesevaOne";
}
.container-1-step3 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 923px;
    margin-top: 400px;
}


.bg-image-top:first-child {
    width: 800px;
    height: 580px;
    margin-right:-13px;

}

.item {
    position: absolute;
    z-index: 1;
    line-height: 19px;
    color: #363636;
    margin-left: 229.81px;
}
.item:nth-child(2) {
    margin-top: 55px;
}

.item:nth-child(3) {
    margin-top: 220px;
}

.item:nth-child(4) {
    margin-top: 378px;
}
.item:nth-child(5) {
    margin-top: 520px;
}

.circle {
    position: relative;
    margin-left: 28.39px;
    width: 59.76px;
    height: 59.76px;
    background: #E3B873;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-color: aliceblue;
    border: 9px solid white;
    font-size: 14px;
    font-family: "NunitoSans-Regular";

}

.data {
    color: aliceblue;
    font-size: 18px;
    line-height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 8.78px;
    font-weight: bold;
    font-family: "YesevaOne";
}

.container-top-2 {
    position: absolute;
    background-color: #131313;
    width: 510px;
    height: 510px;
    top: 59px;
    left: 828px;

}
.text-with-circle{
    margin-left: 100px;
    margin-top: -40px;
}

.txt-leave-a-request {
    color: white;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 28px;
    font-family: "NunitoSans-Regular";
    margin-bottom: 30px;
    border: 0ch;
}

.form-center {
    position: absolute;
    margin-left: 49px;
}

.name {
    border: 0px;
    margin-top: 13px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.bg-input {
    background-color: #131313;
    border: 0ch;
    margin-bottom: 35px;
    margin-top: 10px;

}

.line-in-info-2 {

    border: 1px solid white;
    width: 408px;
    opacity: 15%;
    position: absolute;
    margin-top: -30px;
    height: 0;

}

.b-submit-step3 {
    position: absolute;
    background: #E3B873;
    width: 227px;
    height: 56px;
    margin-top: 58px;
    margin-left: 190px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

.help-save {
    margin-top: 257px;
    width: 344px;
    height: 47px;
    position: relative;
    display: flex;
    margin-left: -15px;

}

.piglet {
    position: relative;
    width: 79px;
    height: 79px;
    background: #E3B873;
    border-radius: 50px;
    margin-top: -87px;

}

.piglet>.pig {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.help-us-save {
    color: #E3B873;
    display: flex;
    margin-left: 27px;
    margin-top: -68px;
    font-size: 18px;


}
.check-b2{
    position: absolute;
    line-height: 163.68%;
    font-family: "NunitoSans-Regular";
    margin-top: 15.97px;
    margin-left: 10px;
}
.section2 {
    width: 1438px;
    height: 1000px;

}

.bg-3step {
    background: url(thebackground.jpg) no-repeat;
    z-index: 2;
    width: 1440px;
    height: 860px;
    margin-bottom: 100px;
    position: absolute;

}

.bg-3step:after {
    background: #000000;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    opacity: 0.8;
}

.title-fantasies {
    position: relative;
    color: #E3B873;
    z-index: 3;
    margin-bottom: 137.47px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    font-family: "YesevaOne";
    margin-left: 87px;
    width: 411px;
    height: 66px;
    top: 139.36px;
}

.the-fant-items {
    position: absolute;
    z-index: 20;
    color: aliceblue;
    margin-top: 45px;
    margin-left: 90px;
    list-style-type: none;
    display: block;

}

label {
    color: aliceblue;
}

.american {
    color: #E3B873;
    text-decoration-line: underline;
}
.menu-item-step3 {
    margin-bottom: 11px;
    font-family: "NunitoSans-Regular";
    font-size: 20px;
    line-height: 38px;
}
.the-images {
    position: absolute;
    display: grid;
    display: inline-grid;
    z-index: 3;
    top: 4209px;
    height: 1000px;
    left: 587px;
    row-gap: 260px;
    column-gap: 300px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;

}
.the1st{
    margin-top: 70px;
}
.the3st{
    margin-top: 358px;
}
.container-middle {
    width: 1438px;
    height: 1000.11px;
} 
    

.our-clients {
    width: 1440px;
    height: 210px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 770px;
    margin-left: 550px;
}

.our-cl {
    margin-left: 100px;
    font-family: "YesevaOne";
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

.the-hands {
    position: relative;
    margin-left: 110px;
    margin-bottom: 19px;
    z-index: 3000;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

.adv {
    margin-right: 1090px;
    text-align: center;
    font-size: 17px;
    line-height: 29px;

}

.name-people {
    position: absolute;
    display: flex;
    margin-left: 124px;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 23px;
}

.text-rectangle {
    position: relative;
    font-size: 13px;
    line-height: 210%;
    color: #959595;
    margin-top: 82px;
    margin-left: 30px;
    padding-bottom:30px;
  

}
.rectangles {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rectangle:first-child {
    margin-left: 101px;
}

.rectangle:last-child {
    margin-right: 101px;
}

.rectangle {
    position: relative;
    display: flex;
    width: 376px;
    height: 828px;
    background: rgb(255, 255, 255);
    margin-bottom: 400px;
}

.yellow-rectangle {
    width: 293.85px;
    height: 54px;
    background: #E3B873;
    position: absolute;
    display: flex;
    z-index: 4;
    margin-top: 373px;
    align-items: center;
}

.yellow-rectangle:nth-child(2n) {
    color: #f2f2f2;
    margin-left: 10.1px;
    font-family: "YesevaOne";
    position: absolute;
    justify-content: space-around;
    text-transform: uppercase;


}

.yellow-rectangle:nth-child(2n+1) {
    position: absolute;
    margin-left: 135px;
    border-left: 0.75px rgb(251, 254, 251);

}
.text-yellow-rectangle{
    font-family:"YesevaOne";
    margin-right: 15px;
    font-size: 17px;
    text-transform: uppercase;

}

.peoples-photo {
    position: absolute;
    margin-left: 29px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
}
